annotated-types
anyio
certifi
charset-normalizer
click
colorama
et-xmlfile
exceptiongroup
fastapi
google_search_results
gunicorn
h11
idna
joblib
numpy
openpyxl
packaging
pandas
pydantic
pydantic_core
python-dateutil
python-dotenv
python-multipart
pytz
requests
scikit-learn
scipy
serpapi
six
sniffio
starlette
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
uvicorn
